:root {
    --white: hsl(0, 0%, 100%);
    --white-paragraph: hsla(0, 0%, 100%, 0.75);
    --white-heading: hsla(0, 0%, 100%, 0.6);
    --blue-very-dark: hsl(233, 47%, 7%);
    --blue-desaturated:  hsl(244, 38%, 16%);
    --violet: hsl(277, 64%, 61%);


    /*- White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)
- Very dark blue (main background): hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%)
*/

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-size: 62.5%;
    font-family: "Inter";

}

body section {
    width: 375px;
    height: auto;
    background-color: var(--blue-very-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 85px;
    padding-bottom: 85px;
}

.card--container {
    width: 330px;
    min-width: 288px;
    background-color: var(--blue-desaturated);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.card--image {
    width: inherit;
    height: auto;
    

}

.card--image img {
    width: inherit;
    border-radius: 10px 10px 0 0;

}

.card--title {
    width: 85%;
    margin-top: 30px;
}

.card--title h1 {
    font-size: 1.6rem;
    color: var(--white-paragraph);
    line-height: 2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.card--title span {
    color: var(--violet);
}

